mat-progress-bar {
  height: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  li {
    list-style: none;
    margin: 15px;
  }
}

mat-spinner {
  margin: 0 auto;
}

.no-matching-photos {
  text-align: center;
}
