<mat-progress-bar mode="{{(isLoading | async) ? 'indeterminate' : 'determinate'}}"></mat-progress-bar>
<div infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
  <ngx-masonry [useImagesLoaded]="true" [options]="{gutter: 30, fitWidth: true}">
    <ngxMasonryItem class="masonry-item" *ngFor="let photo of photos | async">
      <app-flickr-photo [photo]="photo"></app-flickr-photo>
    </ngxMasonryItem>
  </ngx-masonry>

  <mat-spinner *ngIf="isLoading | async"></mat-spinner>
  <h2 *ngIf="!(isLoading | async) && (photos | async).length === 0" class="mat-h1 no-matching-photos">No photos matching
    search criteria.</h2>
</div>
