mat-progress-bar {
  height: 5px;
}

.masonry-item {
  width: 300px;
  margin: 15px 0 15px 0;
}

ngx-masonry {
  margin: 0 auto;
}

mat-spinner {
  margin: 15px auto;
}

.no-matching-photos {
  margin-top: 30px;
  text-align: center;
}
