<mat-progress-bar mode="{{(isFetching | async) ? 'indeterminate' : 'determinate'}}"></mat-progress-bar>
<agm-map [latitude]="(currentPosition | async)?.coords.latitude" [longitude]="(currentPosition | async)?.coords.longitude" [minZoom]="5" (boundsChange)="onBoundsChange($event)">
  <agm-marker *ngFor="let photo of photos | async" [latitude]="photo.latitude" [longitude]="photo.longitude">
    <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="500"
                            [closeWhenOthersOpen]="true"
                            [showCloseButton]="false"
                            backgroundColor="#424242"
                            padding="0px"
                            (isOpenChange)="onDetailsOpenChange($event)">
      <ng-template>
          <app-flickr-photo [photo]="photo"></app-flickr-photo>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
