<mat-toolbar>
  <mat-form-field>
    <input matInput [(ngModel)]="filter.text" (ngModelChange)="onTextChange($event)">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="License" [(value)]="filter.licenses" (selectionChange)="onLicensesChange($event)"
                multiple>
      <mat-option *ngFor="let license of licenses | async" [value]="license.id">
        {{license.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="filter.minDate"
      [matDatepicker]="minDatePicker"
      [max]="filter.maxDate"
      placeholder="Choose min date"
      (dateChange)="onMinDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="minDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #minDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="filter.maxDate"
      [matDatepicker]="maxDatePicker"
      [min]="filter.minDate"
      placeholder="Choose max date"
      (dateChange)="onMaxDateChange($event)">
    <mat-datepicker-toggle matSuffix [for]="maxDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #maxDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-chip-list *ngIf="filter.author?.id">
    <mat-chip selected (removed)="onAuthorRemove()">
      Author: {{filter.author.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-toolbar>
